body
{
  background-image: url('bg/dark_wall.png');
  font-family: 'Source Sans Pro', sans-serif;
}
#content
{
  width: 500px;
  height: 409px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  text-align: center;
  background-color: white;
  padding: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 100px 7px rgba(255,255,255,0.78);
  -moz-box-shadow: 0px 0px 100px 7px rgba(255,255,255,0.78);
  box-shadow: 0px 0px 100px 7px rgba(255,255,255,0.78);
}
#game
{
  padding-top: 100px;
  width:215px;
  height:193px;
  margin: auto;
}
#gameInfo
{
  width:315px;
  height:200px;
  padding: 10px;
  margin: auto;
  font-size: 18px;

}
.filledInput,
input[type=submit]
{
  font-family: 'Montserrat', sans-serif;
  height: 60;
  width: 67;
  font-size: 36px;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  background-color: white;
  border: none;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  text-align: center; /* In future can be deleated */
}
.filledInput,
input[type=submit]:last-child
{
  border: none;
}
.filledInput,
input[type=submit]:nth-child(8)
{
  border: none;
  border-right: 1px black solid;
}
.filledInput,
input[type=submit]:nth-child(7)
{
  border: none;
  border-right: 1px black solid;
}
.filledInput,
input[type=submit]:nth-child(3)
{
  border: none;
  border-bottom: 1px black solid;
}
.filledInput,
input[type=submit]:nth-child(6)
{
  border: none;
  border-bottom: 1px black solid;
}
.filledInput,
input[type=submit]:hover
{
 background-color: #dcdee2;
}
